* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
	background-color: #0B1A23 ;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;
}
.banner-area {
	z-index: 1;
	width: 100%;
	height: 500px;
	position: fixed;
	background-image: url(https://i.pinimg.com/originals/db/c4/e4/dbc4e406ee31d36f5c0713124f3d7c2b.gif);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	max-width: 3100px;
}
.banner-area h2 {
	padding-top: 8%;
	font-size: 70px;
	font-family: poppins;
	text-transform: uppercase;
	color: #fff;
	margin: 0;
}
.content-area {
	width: 100%;
	position: relative;
	top: 450px;
	background: #0B1A23;
	height: 100%;
	margin: 0;
	max-width: 3100px;
}

.avatar{
	z-index: 2;
	border-radius: 400px;
	margin-top: 150px;
}
.content-area h1{
	widows: 100%;
	max-width: 3100px;
	margin: 0;
	color: #CCD7DE;
	font-size: 50px;
	letter-spacing: 4px;
	font-family: Trebuchet MS;
}
.social{
	display: flex;
	padding: 50px;
	justify-content: space-evenly;
	max-width: 3100px;
 widows: 100%;
}